# ========== Java / Maven (backend) ==========
backend/target/
backend/.mvn/
!backend/.mvn/wrapper/maven-wrapper.jar

# ========== IDE settings (both) ==========
## IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

## VS Code
.vscode/

## Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

## NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# ========== Others (both) ==========
HELP.md
*.log
.DS_Store

# ========== React / Node (frontend) ==========
frontend/node_modules/
frontend/.pnp/
frontend/.pnp.js

# build output
frontend/build/

# environment
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# test coverage
frontend/coverage/

# npm logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*